* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
    background-color: black;
}

.container > input {
    display: none;
}

.container label {
    background-color: wheat;
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
}

#slide1:checked ~ .slide-pagination label:nth-of-type(1),
#slide2:checked ~ .slide-pagination label:nth-of-type(2),
#slide3:checked ~ .slide-pagination label:nth-of-type(3),
#slide4:checked ~ .slide-pagination label:nth-of-type(4) {
    width: 100px;
    background-color: green;
}

.slide {
    opacity: 0;
    z-index: 0;
    transform: scale(1.5);
}

#slide1:checked ~ .slider .item-1,
#slide2:checked ~ .slider .item-2,
#slide3:checked ~ .slider .item-3,
#slide4:checked ~ .slider .item-4 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}